.pos-rel {
    position: relative
}

.pos-abs {
    position: absolute
}

.row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-4,
.col-8 {
    position: relative;
    width: 100%;
    padding-right: 15px !important;
    padding-left: 15px !important
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.d-inline-block {
    display: inline-block !important
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.justify-content-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-content-center {
    justify-content: center
}

.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

header.main-header {
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
}

.main-header.fixed,
.main-header.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111
}

header.main-header .container {
    padding: 0 !important;
    max-width: 1280px !important
}

.main-header input[type=checkbox].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px
}

.main-header input[type=checkbox].toggle+label {
    height: 20px;
    line-height: 20px;
    background-color: #4d4d4d;
    padding: 0 10px;
    border-radius: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: all .25s ease-in;
    font-size: 16px;
    font-weight: 700;
    top: 2px;
    margin: 0
}

.main-header+span {
    top: 0;
    left: 4px
}

.main-header input[type=checkbox].toggle+label:before,
.main-header input[type=checkbox].toggle+label:hover:before {
    content: " ";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    z-index: 2;
    transition: all .25s ease-in;
    border-radius: 14px
}

.footer-copyright p,
.main-header input[type=checkbox].toggle+label .off,
.main-header input[type=checkbox].toggle+label .on {
    color: #fff
}

.main-header input[type=checkbox].toggle+label .off {
    margin-left: 10px;
    display: inline-block
}

.desktop-navs ul li.wa-desktop a span,
.main-header input[type=checkbox].toggle+label .on,
.mob-navs {
    display: none
}

.main-header input[type=checkbox].toggle:checked+label .off {
    display: none
}

.main-header input[type=checkbox].toggle:checked+label .on {
    margin-right: 10px;
    display: inline-block
}

.main-header input[type=checkbox].toggle:checked+label,
.main-header input[type=checkbox].toggle:focus:checked+label {
    background-color: #82b440
}

.main-header input[type=checkbox].toggle:checked+label:before,
.main-header input[type=checkbox].toggle:checked+label:hover:before,
.main-header input[type=checkbox].toggle:focus:checked+label:before,
.main-header input[type=checkbox].toggle:focus:checked+label:hover:before {
    background-position: 0 0;
    top: 5px;
    left: 100%;
    margin-left: -15px
}

.main-header ul li.law a {
    border: 1px solid #82b440;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 5px 10px;
    color: #82b440;
    -webkit-transition: all 180ms;
    -moz-transition: all 180ms;
    -ms-transition: all 180ms;
    -o-transition: all 180ms;
    transition: all 180ms;
    display: block
}

.desktop-navs .wa-desktop a:hover,
.main-header ul li.law a:hover {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px)
}

.main-header .logo img {
    width: 225px;
    display: block
}

.footer-navs {
    background: #202020;
    padding: 30px 0
}

.footer-navs a {
    color: #fff;
    font-size: 16px
}

.footer-copyright {
    background: #414141;
    padding: 10px
}

.desktop-navs ul {
    position: relative;
    top: -5px;
    margin-top: 14px !important
}

.desktop-navs ul li {
    margin-right: 25px !important
}

.desktop-navs ul li a {
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none !important;
    color: #333;
    font-family: Montserrat, sans-serif;
    font-size: 14px
}

.desktop-navs ul li:not(.wa-desktop) img {
    display: none
}

.desktop-navs .wa-desktop a {
    -webkit-transition: all 180ms;
    -moz-transition: all 180ms;
    -ms-transition: all 180ms;
    -o-transition: all 180ms;
    transition: all 180ms;
    display: block
}

.footer-navs i {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 3px;
    float: right;
    display: none
}

.footer-navs .right-chevron {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.contact-footer {
    background: #202020;
    padding: 10px 0;
    text-align: center
}

.contact-footer .foot-contact ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.contact-footer .foot-contact ul li {
    display: inline-block;
    margin-right: 20px;
    color: #fff
}

.contact-footer .foot-contact ul li:last-child,
.main-footer-revamp .footer-top .social-icons li:last-child {
    margin-right: 0
}

a.cntus-link {
    background-color: transparent !important;
    color: #ff7e00 !important;
    font-size: 20px;
    border-right: 2px solid #ff7e00 !important;
    padding-right: 15px;
    text-decoration: none !important;
    outline: 0 !important;
    margin-right: 0
}

.contact-footer .foot-contact ul li img {
    width: 18px;
    margin-right: 5px;
    vertical-align: middle;
    border-style: none
}

.contact-footer p {
    color: #fff;
    margin-top: 5px
}

.contact-footer .foot-contact ul li a {
    color: #fff
}

.contact-footer .foot-contact ul li a:hover {
    color: #82b440
}

.menu-parent a {
    padding: 50px 0 0
}

.menu-parent .sub-menus {
    position: absolute;
    padding: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    top: 27px;
    list-style-type: none;
    width: 280px;
    left: 0;
    z-index: 999;
    display: none
}

.menu-parent:hover .sub-menus {
    display: block
}

.menu-parent .sub-menus li {
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    margin-right: 0;
    padding-bottom: 10px
}

.menu-parent .sub-menus li:last-child {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom: 0;
    padding-bottom: 0
}

.desktop-navs a span {
    padding: 10px 0;
    color: #333;
    text-shadow: none;
    position: relative;
    font-weight: 500;
    white-space: nowrap
}

.desktop-navs a:not(.menu-active-state) span::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0;
    max-width: 0;
    color: #f8ba26;
    content: attr(data-hover);
    -webkit-transition: max-width .8s;
    -moz-transition: max-width .8s;
    transition: max-width .8s;
    font-weight: 500;
    border-bottom: 1px solid #f8ba26
}

.desktop-navs a:not(.menu-active-state) span:focus::before,
.desktop-navs a:not(.menu-active-state) span:hover::before {
    max-width: 100%
}

.menu-active-state span {
    color: #f8ba26 !important;
    border-bottom: 1px solid #f8ba26 !important
}

header.main-header .desktop-navs ul.list-margin {
    margin-right: 180px !important
}

header.main-header .user-profile {
    position: fixed;
    top: 14px;
    right: 0;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    cursor: pointer;
    z-index: 999
}

header.main-header .user-profile .flex-block {
    display: flex;
    flex: none
}

header.main-header .user-profile .flex-block-body {
    flex: 1
}

header.main-header .user-profile h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
    font-size: 14px
}

header.main-header .user-profile .avatar-img {
    height: 36px;
    width: 36px;
    margin-right: 10px
}

header.main-header .user-profile .avatar-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    align-self: center
}

header.main-header .user-profile-menu {
    position: absolute;
    bottom: -112px;
    width: 200px;
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border-radius: 10px;
    padding: 10px 0;
    display: none
}

header.main-header .user-profile-menu ul {
    list-style-type: none
}

header.main-header .user-profile-menu ul li {
    margin-right: 0;
    margin-bottom: 0
}

header.main-header .user-profile-menu ul li:last-child {
    margin-right: 0;
    margin-bottom: 0
}

header.main-header .user-profile-menu ul li a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px;
    color: #333;
    text-decoration: none
}

header.main-header .user-profile-menu ul li a:hover {
    background-color: #f8f9fa
}

header.main-header .user-profile-menu ul li a img {
    display: block !important;
    margin-right: 10px
}

header.main-header .user-profile-menu ul li a span {
    margin: 0 !important;
    padding: 0 !important
}

.navtreehouse-property {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #fff;
    left: 0;
    top: 127px;
    padding: 16px 0;
    z-index: 999999;
    box-shadow: 0 2px 8px rgb(0 0 0/10%);
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0/10%);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
}

.navtreehouse ul hr.herline,
.navtreehouse-property ul hr.herline {
    border: 1px solid #ccc
}

.navtreehouse-property .container {
    max-width: 100%;
    padding-left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    -moz-box-shadow: 0-1px 8px 1px #b6b4b4;
    box-shadow: 0-1px 8px 1px #b6b4b4;
    height: 100%
}

.navtreehouse-property .row {
    margin-right: 0;
    margin-left: 0
}

.navtreehouse ul li.tree-heading:first-child,
.navtreehouse-property ul li.tree-heading:first-child {
    font-size: 16px
}

.navtreehouse ul li.tree-heading,
.navtreehouse-property ul li.tree-heading {
    padding: 5px 0;
    font-weight: 700;
    text-transform: uppercase
}

.navtreehouse ul,
.navtreehouse-property ul {
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none
}

.navtreehouse-property li.tree-heading,
.navtreehouse-property li.tree-sub {
    margin-right: 0 !important
}

.navtreehouse-property li.tree-sub {
    margin-bottom: 20px
}

.navtreehouse ul li,
.navtreehouse-property ul li {
    color: #333 !important
}

.navtreehouse ul li a,
.navtreehouse-property ul li a {
    position: relative;
    padding: 0 !important;
    color: #333 !important;
    text-transform: capitalize
}

.navtreehouse-property ul li a:hover {
    color: #f8ba26
}

.navtreehouse,
span.cart-mobile {
    display: none
}

.navtreehouse .container {
    max-width: 100%;
    padding-left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    -moz-box-shadow: 0-1px 8px 1px #b6b4b4;
    box-shadow: 0-1px 8px 1px #b6b4b4;
    height: 100%
}

.navtreehouse .row {
    margin-right: 0;
    margin-left: 0
}

.navtreehouse ul li.tree-heading a {
    padding: 5px 0;
    font-weight: 700;
    text-transform: uppercase
}

.navtreehouse li.tree-heading,
.navtreehouse li.tree-sub {
    margin-right: 0 !important
}

.navtreehouse li.tree-sub {
    margin-bottom: 20px
}

.navtreehouse ul li a:hover {
    color: #f8ba26
}

img.new-badge-menu.align-middle {
    display: block !important;
    width: 40px;
    height: 19px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    right: -45px;
    top: -17px
}

.desktop-navs ul li.property-badge-menu {
    margin-right: 50px !important
}

.navtreehouse-property li.tree-heading a {
    text-transform: uppercase;
    font-weight: 700
}

.property-anchor a {
    padding: 0 !important
}

.property-anchor a.property-parent-anchor {
    padding-bottom: 27px !important
}

.property-nav a {
    padding-bottom: 11px !important
}

.navtreehouse-property li,
.navtreehouse-property li.tree-heading {
    border-bottom: 0 !important
}

.more-none {
    display: none !important
}

.navtreehouse {
    min-height: 450px
}

.navtreehouse ul li.li-less,
.navtreehouse ul li.li-more {
    font-weight: 500;
    color: #278cf3 !important;
    text-decoration: none;
    background: 0 0;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    width: 55px
}

.navtreehouse ul li.li-less::before,
.navtreehouse ul li.li-more::before {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 16px;
    height: 16px
}

.navtreehouse ul li.li-more::before {
    background-image: url(../layout-optim/header-new/navtreehouse-down-more.png)
}

.navtreehouse ul li.li-less::before {
    background-image: url(../layout-optim/header-new/navtreehouse-up-less.png)
}

ul.menuUL {
    height: 410px;
    overflow-y: auto;
    overflow-x: hidden
}

.cart-count {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #1f958b;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    top: -5px;
    left: 14px;
    border: 1px solid #fff
}

li.d-inline-block.m-r-20.cart {
    position: relative
}

.clientDashboardMenu {
    display: none !important
}

.main-footer-revamp {
    padding-top: 50px
}

.main-footer-revamp .footer-top .foot-navs ul {
    margin-top: 30px !important
}

.main-footer-revamp .footer-top .social-icons li {
    margin-right: 20px
}

.main-footer-revamp .footer-top .foot-navs li {
    margin-bottom: 12px
}

.main-footer-revamp .social-icons ul li a.facebook-icon {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/facebook-icon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 25px;
    display: block
}

.main-footer-revamp .social-icons ul li a.facebook-icon:hover {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/facebook-icon-hover.png)
}

.main-footer-revamp .social-icons ul li a.twitter-icon {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/twitter-icon.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;
    display: block
}

.main-footer-revamp .social-icons ul li a.twitter-icon:hover {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/twitter-icon-hover.png)
}

.main-footer-revamp .social-icons ul li a.instagram-icon {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/instagram-logo.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    display: block
}

.main-footer-revamp .social-icons ul li a.instagram-icon:hover {
    background: url(../layout-optim/find-all-lawyers-in-cities-revamp/instagram-logo-hover.png)
}

.main-footer-revamp .footer-top {
    background: #fff;
    border-bottom: 1px solid #e3e2e5;
    margin-right: 75px;
    margin-left: 75px;
    padding-bottom: 50px
}

.main-footer-revamp .footer-top .foot-navs li a {
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    color: #121127
}

.main-footer-revamp .footer-top .foot-navs li a:hover {
    color: #414bf5
}

.main-footer-revamp .footer-top .foot-navs li:last-child {
    margin-bottom: 0
}

.tlk-head {
    border-bottom: 1px solid #e3e2e5;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 15px
}

.main-footer-revamp .foot-navs .tlk-head ul {
    margin-top: 15px !important
}

.main-footer-revamp .foot-navs .tlk-prd ul {
    margin-top: 0 !important
}

.main-footer-revamp .foot-navs .tlk-head ul li a {
    font-weight: 700
}

.main-footer-revamp .foot-navs .tlk-prd ul li {
    border-bottom: 0;
    padding-left: 0
}

.main-footer-revamp .foot-navs .tlk-head ul li a .right-chevron {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg)
}

.main-footer-revamp .foot-navs .tlk-head ul li a i {
    display: inline-flex;
    margin-left: 0;
    align-self: flex-start;
    position: relative;
    top: -1px;
    border: solid #121127;
    border-width: 0 1px 1px 0;
    padding: 3px
}

.main-footer-revamp .footer-top .foot-navs li a:hover i:hover {
    border-color: #414bf5
}

.main-footer-revamp .footer-bottom {
    padding: 35px 0
}

.main-footer-revamp .footer-top .foot-logo a {
    display: inline-block
}

.footer-disclaimer {
    border-top: 1px solid #e3e2e5;
    padding: 20px 0;
    margin-right: 75px;
    margin-left: 75px
}

.main-footer-revamp .footer-top .foot-navs h2 {
    color: rgba(18, 17, 39, .4)
}

.tlk-prd.talk ul li {
    margin-bottom: 12px !important
}

.main-footer-revamp .footer-top .foot-navs li.lawyers-click-here-anchor {
    padding: 5px 10px;
    max-width: fit-content;
    background: #4c50e0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px
}

.main-footer-revamp .footer-top .foot-navs li.lawyers-click-here-anchor a {
    color: #fff !important
}

.footer-disclaimer span {
    color: #121127
}

.main-footer-revamp .footer-bottom span.text-color-14 {
    color: #595959
}

@media screen and (min-width:1280px) and (max-width:1345px) {
    .sm-menu-right {
        margin-right: 230px !important
    }
}

@media screen and (min-width:991px) and (max-width:1279px) {
    .sm-menu-right {
        margin-right: 230px !important
    }
}

@media screen and (min-width:768px) and (max-width:1170px) {
    .sm-menu-right {
        margin-right: 100px !important
    }
}

@media screen and (max-width:1170px) {
    header.main-header .user-profile {
        width: 100px
    }
    header.main-header .user-profile h5 {
        display: none
    }
    header.main-header .user-profile-menu {
        right: 10px
    }
}

@media screen and (min-width:992px) {
    .menu-parent:hover .navtreehouse,
    .property-anchor .sub-menus {
        box-shadow: 0 2px 8px rgb(0 0 0/10%);
        -webkit-box-shadow: 0 2px 8px rgb(0 0 0/10%);
        -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1)
    }
    .menu-parent:hover .navtreehouse {
        display: block;
        position: fixed;
        width: 100%;
        background-color: #fff;
        left: 0;
        top: 50px;
        padding: 16px 0;
        z-index: 999999
    }
    .property-nav:hover .navtreehouse-property {
        display: block
    }
    .property-anchor .sub-menus {
        position: absolute;
        padding: 0 0 0 20px;
        background: #fff;
        top: 31px;
        list-style-type: none;
        width: 460px;
        left: -210px;
        z-index: 999;
        display: none
    }
    li.property-nav {
        margin-bottom: 0 !important;
        display: inline-block;
        padding: 14px 0 20px !important;
        border-bottom: 0 !important
    }
    .document-anchor .sub-menus {
        width: 400px;
        left: -160px;
        padding: 0 0 0 35px
    }
    .document-anchor .sub-menus li.property-nav {
        padding: 14px 20px 20px 0 !important
    }
    .document-anchor .sub-menus li.property-nav:last-child {
        padding: 14px 0 20px !important
    }
}

@media screen and (max-width:991px) {
    .mob-li-block.d-inline-block {
        display: block !important
    }
    .navtreehouse ul {
        padding: 0 20px
    }
    .property-anchor img.bottom-arrow {
        position: absolute;
        right: 0;
        display: block !important;
        top: 0;
        cursor: pointer
    }
    .property-badge-menu a {
        position: relative
    }
    img.new-badge-menu.align-middle {
        right: -55px
    }
    .desktop-navs ul li.property-badge-menu {
        margin-top: 30px
    }
    .desktop-navs a span::before {
        display: none
    }
    .startup-anchor img.bottom-arrow {
        position: absolute;
        right: 0;
        display: block !important;
        top: 0;
        cursor: pointer
    }
    .property-anchor img.bottom-arrow-rotate,
    .startup-anchor img.bottom-arrow-rotate {
        transform: rotate(180deg)
    }
    .navtreehouse ul li a {
        font-size: 12px
    }
    .navtreehouse ul li.tree-heading {
        padding: 0;
        margin-bottom: 10px
    }
    .navtreehouse .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }
    .navtreehouse,
    .navtreehouse-property {
        overflow-x: scroll;
        height: auto;
        background: #fff;
        box-shadow: 0 2px 8px rgb(0 0 0/10%);
        -webkit-box-shadow: 0 2px 8px rgb(0 0 0/10%);
        -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
        margin: 10px 20px;
        position: relative;
        top: 10px
    }
    .navtreehouse-property {
        margin: 10px 0 20px
    }
    .property-anchor li.property-nav {
        position: relative;
        margin-right: 0 !important
    }
    .desktop-navs ul li.property-badge-menu {
        margin-right: 25px !important
    }
    .menu-parent .sub-menus {
        width: 100%
    }
    .navtreehouse-property ul {
        padding: 0;
        margin-top: 14px
    }
    .navtreehouse-property ul:nth-child(1) {
        margin-top: 0 !important
    }
    .navtreehouse-property .col-4:first-child {
        margin-bottom: 10px
    }
    .mob-navs {
        display: flex;
        float: right
    }
    header.main-header .col-8 {
        position: static
    }
    .desktop-navs {
        display: none;
        position: absolute;
        top: 64px;
        background: rgba(255, 255, 255);
        width: 100%;
        right: 0;
        padding: 15px;
        z-index: 111;
        box-shadow: 0 8px 8px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 8px 8px rgba(0, 0, 0, .1);
        -o-box-shadow: 0 8px 8px rgba(0, 0, 0, .1);
        text-align: center;
        border-top: 1px solid #cccc;
        left: 0
    }
    .desktop-navs>ul {
        align-items: center;
        justify-content: center
    }
    header.main-header {
        padding: 10px 15px
    }
    .mob-navs a:not(.nav-anchor) img {
        width: 25px;
        height: 25px;
        vertical-align: middle
    }
    .mob-navs a.nav-anchor img {
        width: 22px;
        height: 22px
    }
    .desktop-navs li:last-child,
    .mob-navs li:last-child {
        margin-right: 0
    }
    .nav-anchor {
        cursor: pointer
    }
    .desktop-navs .lang-desktop,
    .desktop-navs .wa-desktop {
        display: none !important
    }
    .desktop-navs li {
        margin-right: 30px
    }
    header.main-header .row {
        align-items: center
    }
    .footer-navs {
        padding: 25px 15px
    }
    .main-footer .footer-navs ul {
        flex-direction: column;
        padding: 0
    }
    .main-footer .footer-navs ul li {
        position: relative;
        border-bottom: 1px solid #424856
    }
    .main-footer .footer-navs ul li a {
        padding: 10px 15px 10px 0;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .footer-copyright .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
    .footer-copyright {
        text-align: center
    }
    .footer-copyright ul {
        justify-content: center !important
    }
    .footer-copyright p {
        margin-bottom: 5px
    }
    .footer-navs i {
        display: block
    }
    .contact-footer .foot-contact ul li {
        display: block;
        margin-right: 0;
        color: #fff;
        margin-bottom: 5px;
        line-height: 28px
    }
    a.cntus-link {
        border: 2px solid #ff7e00 !important;
        margin-bottom: 10px !important;
        display: inline-block;
        padding: 10px 20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px
    }
    header.main-header .desktop-navs ul.list-margin {
        margin-right: 0 !important
    }
    .navtreehouse-property .col-4 {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }
    ul.menuUL {
        height: auto;
        overflow-y: initial;
        overflow-x: initial
    }
    .main-footer-revamp {
        margin-top: 0
    }
    .main-footer-revamp .footer-top .col-9 {
        margin-top: 40px
    }
}

@media screen and (max-width:767px) {
    .sm-clean>li:first-child {
        background: #383ddb !important
    }
    header.main-header .col-4,
    header.main-header .col-8 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .mob-li-block.d-inline-block {
        display: block !important
    }
    #main-menu {
        z-index: 1
    }
    li.add-to-cart-menu {
        display: none !important
    }
    .mob-icon-nav li {
        margin-right: 10px !important
    }
    .main-footer-revamp {
        padding-top: 30px
    }
    .main-footer-revamp .footer-top .foot-navs h2 {
        margin-bottom: 20px !important;
        color: #121127 !important
    }
    .main-footer-revamp .footer-top .foot-navs ul {
        margin-top: 20px !important
    }
    .main-footer-revamp .footer-top .foot-navs li {
        margin-bottom: 0;
        line-height: 36px
    }
    .main-footer-revamp .footer-bottom {
        padding: 15px 0;
        background: #f2f2f2
    }
    .main-footer-revamp .footer-top {
        border-bottom: 0;
        margin-right: 9px;
        margin-left: 9px
    }
    .footer-disclaimer {
        margin-right: 0;
        margin-left: 0;
        background: #f2f2f2;
        padding: 10px 9px
    }
    .main-footer-revamp .footer-bottom span {
        color: #121127;
        font-size: 13px !important
    }
    .main-footer-revamp .footer-top .col-9 .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 30px
    }
    .main-footer-revamp .footer-top .foot-navs .tlk-prd .tlk-head li a {
        line-height: normal
    }
    .tlk-prd li {
        line-height: 20px !important
    }
    .tlk-prd li a {
        line-height: normal !important
    }
    .main-footer-revamp .footer-top .category-footer .foot-navs ul {
        margin-top: 0 !important
    }
    .tlk-head {
        margin-bottom: 15px
    }
    .main-footer-revamp .footer-top .col-9 .category-footer .col-3 {
        margin-bottom: 10px
    }
    .main-footer-revamp .footer-top .col-9 .col-3:last-child,
    .main-footer-revamp .footer-top .col-9 .col-3:nth-child(3) {
        margin-bottom: 0 !important
    }
    .tlk-prd.talk ul li {
        margin-bottom: 0 !important
    }
}

@media screen and (max-width:575px) {
    .main-footer-revamp .footer-top .foot-navs li img {
        width: 14px;
        height: 14px;
        margin-right: 5px
    }
    .main-footer-revamp .footer-top .foot-navs li {
        font-size: 12px
    }
    .main-footer-revamp .footer-top .foot-navs li img.message-icon {
        height: 13px
    }
}

@media screen and (max-width:535px) {
    .main-footer-revamp .footer-bottom span.color4 {
        color: #3237cf;
        display: block
    }
    .main-footer-revamp .footer-bottom span.color4.m-l-5 {
        display: none
    }
}

@media screen and (max-width:530px) {
    .main-header .logo img {
        width: 160px;
        margin-left: 35px;
        height: auto !important
    }
    .desktop-navs ul,
    header.main-header {
        position: relative
    }
    .nav-anchor {
        cursor: pointer;
        position: absolute;
        margin: 0;
        left: 15px;
        top: 13px
    }
    .mob-navs img {
        vertical-align: middle
    }
    .desktop-navs {
        top: 46px;
        height: calc(100vh - 50px);
        height: -webkit-calc(100vh - 50px);
        height: -moz-calc(100vh - 50px);
        height: -ms-calc(100vh - 50px);
        height: -o-calc(100vh - 50px);
        background: #fff;
        overflow-x: hidden;
        overflow-y: auto
    }
    .desktop-navs ul {
        top: 0
    }
    .desktop-navs>ul {
        text-align: left
    }
    .desktop-navs li {
        margin-right: 30px;
        display: block;
        margin-bottom: 20px
    }
    .desktop-navs>ul,
    .mob-li-block.d-inline-block {
        display: block !important
    }
    .desktop-navs li a {
        color: #333
    }
    .desktop-navs li a img {
        margin-right: 10px;
        display: inline-block !important
    }
    .menu-parent .sub-menus {
        display: block;
        position: relative;
        padding: 10px;
        top: 0;
        margin: 10px 20px
    }
    .menu-parent a {
        padding: 0
    }
    .menu-parent .sub-menus li {
        margin-bottom: 10px;
        margin-top: 0;
        padding-bottom: 10px
    }
    .menu-parent .sub-menus li:last-child {
        margin-bottom: 0
    }
    .menu-parent .sub-menus li a {
        font-size: 12px
    }
    span.cart-mobile {
        display: inline-block
    }
    li.d-inline-block.m-r-20.cart {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        display: block !important
    }
}

@media screen and (max-width:480px) {
    header.main-header .user-profile {
        top: 10px !important
    }
}

@media screen and (max-width:420px) {
    .main-header .logo img {
        width: 130px
    }
}

@media screen and (max-width:359px) {
    .main-header .logo img {
        width: 110px
    }
    .desktop-navs {
        top: 42px
    }
    header.main-header .user-profile {
        right: 10px !important
    }
    .mob-icon-nav.mob-icon-nav-right {
        right: 60px !important
    }
}

@media screen and (max-width:337px) {
    .main-footer-revamp .footer-top .foot-navs li img {
        display: none
    }
    .main-footer-revamp .footer-top .foot-navs li {
        font-size: 11px
    }
}

@media screen and (max-width:991px) {
    header.main-header .user-profile {
        width: 50px;
        right: 20px;
        top: 14px
    }
    .mob-navs ul.mob-list-margin {
        margin-right: 45px
    }
    .mob-navs ul li a {
        margin-right: 12px
    }
    .mob-navs ul li:nth-last-child(2) a {
        margin-right: 0
    }
    header.main-header .user-profile .avatar-img {
        height: 30px;
        width: 30px;
        margin-right: 5px
    }
    header.main-header .user-profile .avatar-icon {
        margin-left: 0;
        width: 16px;
        height: 16px
    }
    header.main-header .user-profile-menu {
        bottom: -142px
    }
    .navigation ul.m-0.p-0.list-unstyled.d-flex.align-items-center.justify-content-end {
        margin-right: 50px !important
    }
    .navigation ul li a img {
        margin-right: 8px !important;
        width: 20px;
        height: 20px
    }
    .navigation ul li:last-child a img {
        margin-right: 0 !important
    }
    .navigation .navbar-logo img.logo {
        width: 110px
    }
    .desktop-navs a span {
        white-space: normal !important
    }
}